#navbar {
    border-right: 1px solid grey;
    height: 100%;
    width: 25%;
    display: block;
    float: left;
    margin-left: -5%;
    margin-right: 1%;
    overflow: hidden;
}

#top{
    float: left;
}

#classroom {
    color: rgb(158, 157, 157);
    text-decoration: none;
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#classroom:hover {
    color: rgb(16, 148, 16);
    text-decoration: underline;
}

.classesContainer{
    display: flex;
    flex-wrap: wrap;
}

#banner {
    float: right;
    margin-top: 7%;
    border: 1px solid;
    border-radius: 50%;
}

.links {
    line-height: 5vh; /* Line height based on viewport height */
    height: 5vh;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 0.5vw solid white; /* Border thickness relative to width */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links:hover {
    background-color: rgb(220, 219, 219);
    border-radius: 1vw;
}

.classes {
    height: 50%;
    width: 30%;
    border: 1px solid black;
    display: inline-flex;
    flex-direction: column;
    border-radius: 2%;
    margin: 2%;
}

.classes:hover {
    box-shadow: 0.5vw 0.5vw 0.2vw gray;
    cursor: pointer;
}

.upper {
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background-color: yellow;
}

.sub {
    text-align: center;
    font-size: 200%;
    padding-left: 1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: solid;
    color: black;
}

.sub:hover {
    text-decoration: underline;
}

.ClassBanner {
    display: inline-flex;
    flex-wrap: wrap;
    line-height: 15vw; /* Height in vw for responsiveness */
    margin-left: 5%;
    width: 50%;
    height: 20vw;
    border-radius: 2%;
    background-color: yellow;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.ClassBanner h1{
    font-size: 150%;
}

.notes {
    line-height: 550%;
    margin-left: 26%;
    height: 150%;
    width: 50%;
    border: 1px solid grey;
    border-radius: 2%;
    text-align: center;
    box-shadow: 1vw 1vw 0.5vw gainsboro;
}

.notes a {
    text-decoration: none;
    color: black;
    padding: 1.5vw 0;
    font-size: 150%;
    border: 0.3vw solid black;
    border-radius: 1%;
}

.notes a:hover {
    background-color: gainsboro;
}

@media (max-width:480px) {
    #navbar {
        width: 0%;
    }
    .notes{
        margin-left:0%;
        font-size: 100%;
    }
    .classBanner{
        width:100%;
        margin-left: 0%;
    }
}